body { 
   color: white;
   background-image: url("Rose.jpeg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  background-repeat: no-repeat;
}
p{
   color: white;
   
}

h1 {
   color: white;
   
}
h2{
   color: white;
}
li{
   color: white;
}

.Nafl {
   border-style: ridge;
   border-color: white;
   font-family: fantasy;
   
   
}
.fard{
    border-style: ridge;
   border-color: white;
   font-family: fantasy;
}

.wajib {
    border-style: ridge;
   border-color: white;
   font-family: fantasy;
}

.sunnah{
    border-style: ridge;
   border-color: white;
   font-family: fantasy;
}
.islam{
    border-style: ridge;
   border-color: white;
   font-family: fantasy;
}

.Iman{
    border-style: ridge;
   border-color: white;
   font-family: fantasy;
}

.haram{
    border-style: ridge;
   border-color: white;
   font-family: fantasy;
}
.halal{
    border-style: ridge;
   border-color: white;
   font-family: fantasy;
}


   
