body { 
   color: white;
   background-image: url("Rose.jpeg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  background-repeat: no-repeat;
}
p{
   color: white;
   
}

h1 {
   color: white;
   
}
h2{
   color: white;
}
li{
   color: white;
}

.Nafl {
   border-style: inset;
   border-color: white;
   border-block-style: solid;
  border-block-color: LavenderBush;
   background-color: lightgrey;
  inline-size: 70%;
  border-block-width: 10px;
    
  
   
   
}
.fard{
    border-style: inset;
   border-color: white;
   border-block-style: solid;
  border-block-color: pink lightblue;
   background-color: lightgrey;
  inline-size: 70%;
  border-block-width: 10px;
   
}

.wajib {
    border-style: hidden;
   border-color: white;
   border-block-style: solid;
  border-block-color: lightblue;
   background-color: lightgrey;
  inline-size: 70%;
  border-block-width: 10px;
    
  
}

.sunnah{
    border-style: inset;
   border-color: white;
   border-block-style: solid;
  border-block-color: LavenderBush;
   background-color: lightgrey;
  inline-size: 70%;
  border-block-width: 10px;
    
  
}
.islam{
    border-style: inset;
   border-color: white;
   border-block-style: solid;
  border-block-color: LavenderBush;
   background-color: lightgrey;
  inline-size: 70%;
  border-block-width: 10px;
    
   
}

.Iman{
    border-style: hidden;
   border-color: white;
   border-block-style: solid;
  border-block-color: LavenderBush;
   background-color: lightgreen;
  inline-size: 70%;
  border-block-width: 10px;
    
  
}

.haram{
    border-style: inset;
   border-color: white;
   border-block-style: solid;
  border-block-color: LavenderBush;
   background-color: lightgrey;
  inline-size: 70%;
  border-block-width: 10px;
    
}
.halal{
    border-style: inset;
   border-color: white;
   border-block-style: solid;
  border-block-color: LavenderBush;
   background-color: lightgrey;
  inline-size: 70%;
  border-block-width: 10px;
    
  
}


   
